@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Smooth scrolling isn't used globally since we use framer-motion, but good practice */
  scroll-behavior: smooth;
  /* Hide scrollbar for cleaner look if desired, but we need scroll space */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
